<br>
<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if notice %>
	<p class="alert alert-success"><%= notice %></p> 
<% end %>
<% if logged_in_admin? %>
<ol class="breadcrumb">
  <li><%= link_to 'Advertisment', advertises_path %></li>
  <li><%= link_to 'City', cities_path %></li>
  <li><%= link_to 'Degree', degres_path %></li>
  <li><%= link_to 'Institute', institutes_path %></li>
  <li><%= link_to 'Organization', organizations_path %></li>
  <li><%= link_to 'Work Field', work_fields_path %></li>
</ol>
<% end %>
<div class="row">
  <div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
				<p><strong>Email:</strong>	<%= mail_to @user.email %></p>
					<%= render 'shared/userinfo' %>
			</div>
		</div>
  </div>
  <div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= avatar3(@user) %>
			</div>
		</div>
		<% if user_signed_in? %>
			<button class="btn btn-primary" type="button" data-toggle="collapse" 
							data-target="#addAvatar" aria-expanded="false" aria-controls="collapseExample">
				Upload Photo
			</button>
  	<% end %>
  </div>
</div>
			<div class="collapse" id="addAvatar">
				<div class="well">
					<%= render 'devise/registrations/edit' %>
				</div>
			</div>
<% if @user.userinfos.exists? %>

	<% if @user.educations.exists? %>
		<%= render 'shared/education' %>
	<% end %>
	<% if user_signed_in? %>
		<button class="btn btn-primary" type="button" data-toggle="collapse" 
						data-target="#addEducation" aria-expanded="false" aria-controls="collapseExample">
			Add Education
		</button>
		<br><br>
		<div class="collapse" id="addEducation">
			<div class="well">
				<%= render 'educations/form' %>
			</div>
		</div>
	<% end %>
	<% if @user.experiences.exists? %>
		<%= render 'shared/experience' %>
	<% end %>
	<% if user_signed_in? %>
		<button class="btn btn-primary" type="button" data-toggle="collapse" 
						data-target="#addExperience" aria-expanded="false" aria-controls="collapseExample">
			Add Experience
		</button>
		<br><br>
		<div class="collapse" id="addExperience">
			<div class="well">
				<%= render 'experiences/form' %>
			</div>
		</div>
	<% end %>
<% else %>
	<%= render 'userinfos/form' %>
<% end %>

